.Header {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

.Header__left{
    display: flex;
    align-items: center;
}
.left__logo {
    width: 30%;
}
.left__logoImage {
    width: 100%;
}

.left__Home,
.left__notifications{
    margin-left: 00.6em;   
}

.current-location{
    color: black;
    border-bottom: 1px solid black;
}
.Header__center{
    display: flex;
    align-items: center;
    margin-right: 25%;
    border: 1px solid lightgray;
}

.Header__center:hover{
    border: 1px solid blue;


}
.center__inputfield{
    border:none;
    width: 10em;
}
.Header__right {
    display: flex;
    align-items: center;
}

.right__user,
.right-Icon,
.right-btn {
   margin-right: 1em; 
}

.right-btn{
  border-radius: 999px;  
  padding: 0.1em 2em;
  background-color: red;
  color: white;
}

